body {
  width: 1920px;
  height: 2193px;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #2C2F3C; }
  body header {
    background-image: url("../img/m-h-day.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: inset(0 round 0px 0px 40%);
    height: 100vh; }
    body header .header-wrap {
      max-width: 30%;
      margin-left: 10%; }
      body header .header-wrap .landing-logo {
        padding-top: 30px; }
        body header .header-wrap .landing-logo img {
          float: left; }
        body header .header-wrap .landing-logo p {
          display: inline-block;
          text-align: center;
          font-weight: bold;
          font-size: 25px;
          padding-left: 20px;
          margin: 0; }
          body header .header-wrap .landing-logo p span {
            font-weight: normal;
            display: block;
            font-size: 12px; }
      body header .header-wrap .header_heading {
        font-weight: bold;
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 0; }
        body header .header-wrap .header_heading::nth-child(2) {
          color: red; }
      body header .header-wrap .header_text {
        margin: 40px 0 60px 0; }
      body header .header-wrap button {
        border: 0;
        border-radius: 4px;
        padding: 0;
        margin-bottom: 180px;
        height: 40px;
        width: 130px;
        background-color: #699900;
        color: white;
        font-weight: bold; }
        body header .header-wrap button:hover {
          background-color: white;
          color: #699900;
          border: 2px solid #699900; }
  body main .section_text {
    text-align: center;
    font-weight: 600;
    font-size: 42px; }
  body main .section_card_wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10% 0 10%;
    text-align: center; }
    body main .section_card_wrap .section_card {
      background-color: #21232E;
      flex: 0 1 30%;
      margin: 0 10px 0 10px;
      border-radius: 6px; }
      body main .section_card_wrap .section_card img {
        margin-top: 5%;
        border-radius: 6px;
        width: 90%; }
      body main .section_card_wrap .section_card .section_card_heading {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 20px;
        position: relative;
        display: inline-block;
        z-index: 1; }
        body main .section_card_wrap .section_card .section_card_heading:after {
          content: '';
          position: absolute;
          width: 100%;
          display: block;
          height: 10px;
          background-color: #14A0C7;
          bottom: 0;
          z-index: -1; }
      body main .section_card_wrap .section_card .section_card_text {
        color: #C0C3CE;
        font-size: 14px;
        font-family: 'Hind', sans-serif;
        padding: 0 5% 0 5%; }
  body main .section_banner {
    position: relative;
    display: flex;
    top: 60px;
    margin: 100px 15em 0 15em;
    background-image: linear-gradient(to right, #689805, #3260C7);
    border-radius: 6px;
    padding: 0 80px 10px 80px;
    vertical-align: middle; }
    body main .section_banner .section_banner_text_wrap {
      display: inline-block;
      margin-right: 100px; }
    body main .section_banner .section_banner_heading {
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 0; }
    body main .section_banner .section_banner_text {
      color: #C0C3CE; }
    body main .section_banner button {
      margin: auto;
      border: 0;
      border-radius: 4px;
      height: 40px;
      width: 130px;
      background-color: #699900;
      color: white;
      font-weight: bold; }
      body main .section_banner button:hover {
        background-color: white;
        color: #699900;
        border: 2px solid #699900; }
  body footer {
    height: 200px;
    background-color: #21232E;
    color: #C0C3CE; }
    body footer .footer-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 100px; }
      body footer .footer-wrap .footer_logo {
        flex-grow: 1;
        flex-basis: 0; }
        body footer .footer-wrap .footer_logo p {
          display: inline-block;
          text-align: center;
          font-weight: bold;
          font-size: 25px;
          padding-left: 10px;
          margin: 0; }
          body footer .footer-wrap .footer_logo p span {
            font-weight: normal;
            display: block;
            font-size: 12px; }
      body footer .footer-wrap .footer_text {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 25%;
        text-align: left;
        margin: 0 50px 0 50px; }
      body footer .footer-wrap span {
        flex-grow: 1;
        flex-basis: 0; }
