$background-image: url("../img/m-h-day.jpg");
$additionalFont: 'Hind', sans-serif; 
$buttonColor: #699900;
$underlineColor: #14A0C7;
$textMainColor: #2C2F3C;
$backgroundColor: white;
$footerColor: #21232E;
$lineHeight: 32px;
$gradient: linear-gradient(to right, #689805, #3260C7);