$background-image: url("../img/m-h-night.jpg");
$additionalFont: 'Fresca', sans-serif; 
$buttonColor: #E3AC00;
$underlineColor: #FF4E33;
$textMainColor: #FFFFFF;
$backgroundColor: #21232E;
$footerColor: #3B3F50;
$lineHeight: 34px;
$gradient: linear-gradient(to right, #E2AB00, #9B394A);