#line {
	border: black solid 1px;
	margin: 5px;
}
button {
	width: auto;
	height: 30px;
	display: flex;
}
#loader {
  background: url("https://media.giphy.com/media/TcdpZwYDPlWXC/giphy.gif") no-repeat scroll center center rgba(255, 255, 255, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
}